@import '../../styles/base/variables';
@import '../../styles/base/mixins';

.HeaderWrapper {
  background-color: $white;
  border-top: 2px solid $primary-color;
  min-height: 100px;
  padding: 10px 20px 20px;
}

.Header {
  margin: 0 auto;
  max-width: 1600px;
  text-align: center;
}

// Search
.SearchForm {
  display: block;
  float: left;
  margin: 100px 0 0 0;
  transition: margin .2s ease;

  @include media($medium-screen-up) {
    margin: 20px 0 0 0;
  }
}

.SearchButton {
  background: none;
  border: 0;
  color: $secondary-color;
  cursor: pointer;
  margin: 0 5px 0 0;
  pointer-events: none;
  transition: color .2s ease;

  &::before {
    content: '\e802';
    font-family: 'fontello';
  }

  &:hover {
    color: $primary-color;
  }
}

.SearchInput {
  border: 0;
  border-bottom: 2px solid #ccc;
  border-radius: 0;
  color: $secondary-color;
  font-family: $oswald;
  height: 30px;
  letter-spacing: .7px;
  max-width: 150px;
  padding: 5px 15px 0 0;

  &:focus {
    border-bottom: 2px solid $primary-color;
    outline: 0;
  }
}

.HeaderLogo {
  left: 50%;
  margin-left: -100px;
  position: absolute;
  top: 10px;
  width: 200px;
}

.HeaderLink {
  color: $primary-color;
  display: block;
  font-family: $dancing;
  font-size: 5rem;
  font-weight: 600;
  text-decoration: none;
  transition: transform .2s linear;

  &:hover {
    transform: scale(1.05);
  }
}

.HeaderLabel {
  color: $secondary-color;
  display: block;
  font-weight: 300;
  margin: -15px 0 0;
  text-indent: 120px;
}

.HeaderSocial {
  display: block;
  float: right;
  margin: 100px 0 0;
  transition: margin .2s ease;

  @include media($medium-screen-up) {
    margin: 22px 0 0;
  }
}

.HeaderSocial__Link {
  text-decoration: none;
  transition: color .2s ease;

  &:hover {
    color: $primary-color;
  }
}


