@import '../../styles/base/variables';

// TODO: consider better design for comments section
.Comments {
  padding: 20px;
  background-color: $white;
  margin: 20px 0 0;
}

.CommentsTitle {
  border-bottom: 1px dotted lighten(#ccc, 10%);
  font-family: $oswald;
  margin: 0 0 20px;
}

.Comment {
  border-bottom: 1px dotted lighten(#ccc, 10%);
  margin: 0 0 20px;
  padding: 0 0 20px;

  &:last-child {
    border: 0;
    padding: 0;
  }
}

.CommentMeta {
  margin: 0 0 10px;
}

.CommentAuthor {
  margin: 0 10px 0 0;
}

.CommentStar {
  color: $primary-color;
  margin: 0 1.5px 0 0;

  &::before {
    content: '\e803';
    font-family: 'fontello';
  }
}

.CommentStar--gray {
  color: $light-gray;
}

.CommentText {
  color: lighten($secondary-color, 10%);
}
