.Text {

  // sizes
  &.Text--small { font-size: 1.2rem; }
  &.Text--regular { font-size: 1.6rem; }
  &.Text--medium { font-size: 2rem; }
  &.Text--big { font-size: 2.4rem; }
  &.Text--large { font-size: 3.2rem; }
  &.Text--xlarge { font-size: 4.2rem; }

}
