.Text {}

// sizes
.Text.Text--xsmall { font-size: 1.2rem; }
.Text.Text--small { font-size: 1.4rem; }
.Text.Text--regular { font-size: 1.6rem; }
.Text.Text--medium { font-size: 2rem; }
.Text.Text--big { font-size: 2.4rem; }
.Text.Text--large { font-size: 3.2rem; }
.Text.Text--xlarge { font-size: 4.2rem; }

// weight
.Text.Text--light { font-weight: 300; }

// colours
.Text.Text--primary { color: $primary-color; }
.Text.Text--gray { color: $secondary-color; }
.Text.Text--light-gray { color: $light-gray; }
