// colors
$base-color: #484848;
$primary-color: #e893b7;
$secondary-color: #666;
$light-gray: lighten($secondary-color, 20%);
$white: #fff;
//$primary-color: #AB7189;

// fonts
$dancing: 'Dancing Script', cursive;
$oswald: 'Oswald', sans-serif;
$roboto: 'Roboto', sans-serif;

// queries (use only mobile first - min width queries)
$xlarge-screen-up: 1200px;
$large-screen-up: 992px;
$medium-screen-up: 769px;
$small-screen-up: 480px;
